---
import '../styles/theme.scss'

export interface Props {
  title: string
}
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="/vendor/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="/vendor/phosphor-icons/css/phosphor.css" rel="stylesheet" />
    <link href="/vendor/magnific-popup/magnific-popup.css" rel="stylesheet" />
    <link rel="icon" href="/images/favicon.svg" type="image/x-icon" />
    <meta name="generator" content={Astro.generator} />
  </head>

  <body>
    <slot />

    <script src="/vendor/jQuery/jquery.min.js" is:inline></script>
    <script src="/vendor/counter-up/counterup.js" is:inline></script>
    <script src="/vendor/bootstrap/bootstrap.bundle.min.js" is:inline></script>
    <script src="/vendor/magnific-popup/magnific-popup.min.js" is:inline
    ></script>
    <script src="/js/script.js" async></script>
  </body>
</html>
